---
import BaseLayout from "../layouts/BaseLayout.astro";
import NewsList from "../components/NewsList.astro";
import { getNewsEntries } from "../lib/content";

const news = getNewsEntries();
---

<BaseLayout title="News | シビックテックさいたま">
  <article>
    <div class="content-block">
      <h1 id="news" class="page-heading">News</h1>
      <NewsList items={news} />
    </div>
  </article>
</BaseLayout>
